.places {
  display: flex;
  flex-direction: column;
  gap: 80px;
  max-width: 1280px;
  padding: 0 148px;
}


@media screen and (max-width: 1152px) {
  .places {
    max-width: 1024px;
    padding-right: 48px;
    padding-left: 48px;
  }
}

@media screen and (max-width: 984px) {
  .places {
    max-width: 768px;
    gap: 73px;
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 568px) {
  .places {
    max-width: 320px;
    padding-right: 0;
    padding-left: 0;
    gap: 50px;
  }
}