# http://editorconfig.org


# Специальное свойство, которое должно быть указано в начале файла за пределами

# любые разделы. Установите значение true, чтобы остановить поиск файла конфигурации .editor в текущем файле.

корень = правда

[ * ]
# Стиль отступа

# Возможные значения - табуляция, пробел

indent_style = пробел

# Размер отступа в символах с одинарным интервалом

# Возможные значения - целое число, табуляция

отступ_размер = 2

# Формат файла окончания строки

# Возможные значения - lf, crlf, cr

конец_линии = lf

# Кодировка файлов

# Возможные значения - latin1, utf-8, utf-16be, utf-16le

кодировка = utf-8

# Указывает, обрезать ли пробелы в конце строк

# Возможные значения - истина, ложь

trim_trailing_whitespace = истина

# Указывает, должен ли файл заканчиваться новой строкой

# Возможные значения - истина, ложь

insert_final_newline = истина