.intro__list {
  max-width: 1280px;
  margin: 0;
  list-style-type: none;
  padding-left: 0;
  text-align: left;
  line-height: 18px;
  font-size: 12px;
}


@media screen and (max-width: 1152px) {
  .intro__list {
    max-width: 1024px;
  }
}

@media screen and (max-width: 984px) {
  .intro__list {
    max-width: 768px;
  }
}

@media screen and (max-width: 568px) {
  .intro__list {
    max-width: 320px;
  }
}