.lead__caption {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  align-self: flex-start;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  margin: 8px 0 0 0;
}


@media screen and (max-width: 984px) {
  .lead__caption {
    max-width: 768px;
    margin-left: 24px;
  }
}

@media screen and (max-width: 568px) {
  .lead__caption {
    max-width: 320px;
    margin-left: 16px;
  }
}